{% extends 'base.html' %}

{% block content%}

<article class="post">
								<header>
									<div class="title">
										<h2><a href="#">About</a></h2>
										<p>Concerning this website</p>
									</div>
									<div class="meta">
										<time class="published" datetime="2015-10-25">October 25, 2015</time>
										<a href="#" class="author"><span class="name">Jane Doe</span><img src="images/avatar.jpg" alt="" /></a>
									</div>
								</header>
								<a href="#" class="image featured"><img src="images/pic02.jpg" alt="" /></a>
								<p align="left">Hello Yaghaz  shippers:
                                I will be talking about few things concerning this website.
                                <ul>
    <li>
        This website still lacks few things and I will be making few changes on a constant bases.
        If you have any ideas or any suggestions, do not be shy to communicate them to me.
        Click <a href="#">here</a> to email me your ideas.

    </li>
</ul></p>
								<footer>
									<ul class="actions">
										<li><a href="#" class="button big">Continue Reading</a></li>
									</ul>
									<ul class="stats">
										<li><a href="#">General</a></li>
										<li><a href="#" class="icon fa-heart">28</a></li>
										<li><a href="#" class="icon fa-comment">128</a></li>
									</ul>
								</footer>
							</article>


{% endblock %}