{% extends 'base.html' %}

{% block content%}

<article class="post">
    <header>
        <div class="title">
            <h2><a href="#">About</a></h2>
        </div>
        <div class="meta">
            <time class="published" datetime="2015-10-18">January 07, 2018</time>
        </div>
    </header>
    <div class="box alt">

        <p align="left">This website is for sharing stories about the television couple <b>"Yağız Egemen"</b> and <b>"Hazan
            Çamkıran"</b> also known as <b><i>Yağhaz</i></b> from the turkish series <b>"Fazilet Hanım ve Kızları"</b>.
            The reason for building this site is because I have seen dedicated fans writing and sharing stories about
            <i>Yağhaz</i> in twitter and facebook. However, the stories are quickly to get lost and so, to facilitate
            the reading and sharing of these stories, I made this website.</p>
        <h5>Rules on this website :</h5>
        <ol class="pagination">
            <li>This website is for sharing stories about <b>Yağhaz</b> only</li>
            <li>This Website is not for trashing actors</li>
            <li>Any stories shared not about <i>Yağhaz</i>, they will be deleted from this website</li>
            <li>Any stories that bash actors, will be removed</li>
            <li>Any user or comment that's offensive will be removed from this website</li>
        </ol>
    </div>

    <div class="box alt">
        <h5>What's comming to this website :</h5>
        <ol class="pagination">
            <li>User profile</li>
            <li>Website supporting different languages</li>

        </ol>
    </div>
    <h5>To start sharing your stories, register as a user.</h5>


</article>


{% endblock %}