{% extends 'base.html'%}
{% block content %}
<div id="main">
    <form method="post" enctype="multipart/form-data">
        <article class="post">
            <section>
                <h3>New Story</h3>

                {% csrf_token %}
                {{story.non_field_errors}}
                <div class="row uniform">

                    <div class="12u$ 12u$(medium)">
                        <h6 class="1u$ 12u$(medium)">Title</h6>
                        {{story.title}}
                        <p class="danger-text">{{story.title.errors}}</p>
                    </div>

                    <div class="12u$ 12u$(medium)">
                        <h6 class="1u$ 12u$(medium)">Summary</h6>
                        <p id="count_message"></p>
                        {{story.summary}}
                        {{story.summary.errors}}
                    </div>
                    <div class="2u$ 12u$(medium)">
                        <h6 class="1u$ 12u$(medium)">Language</h6>
                        {{story.language}}
                        {{story.language.errors}}
                    </div>
                    <div class="1u$ 12u$(medium)">
                        <h6 class="1u$ 12u$(medium)">Cover</h6>
                        {{story.story_cover}}
                        {{story.story_cover.errors}}
                    </div>
                </div>
            </section>
        </article>
        <article class="post">
            <h3>Add Chapter</h3>
            <div class="row uniform">
                 {{chapter.non_field_error}}
                 <div class="10u$ 12u$(medium)">
                    <h6 class="1u$ 12u$(medium)">title</h6>
                    {{chapter.title}}
                     {{chapter.title.errors}}
                </div>
                <div class="8u$ 12u$(medium)">
                    <h6 class="1u$ 12u$(medium)">chapter</h6>
                    {{chapter.chapter}}
                </div>
                 <div class="12u$ 12u$(medium)">
                    {{chapter.chapter.errors}}
                 </div>
                </div>

                <div class="12u$ 12u$">
                    <ul class="actions">
                        <li><input type="submit" value="ADD STory"/></li>
                        <li><input type="reset" value="cancel"/></li>
                    </ul>
                </div>
            </div>
        </article>


    </form>
</div>
{% endblock%}