{% extends 'base.html'%}


{% block content %}
<div id="main">
    <article class="post">
        <h6 class="2u$ 12u$(medium)">Editing Story</h6>
        <!-- Pagination -->
        <ul class="actions pagination">
            <li><a href="{%url 'egamen:delete_story' story.id%}" class="button big">Delete Story</a></li>
            <li><a href="{%url 'egamen:edit_chapter' story.id%}" class="button big">Manage Chapters</a></li>
        </ul>

    </article>
    <form method="post">
        <article class="post">
            <section>
                <h3>Edit Story</h3>

                {% csrf_token %}
                {{story.non_field_error}}
                <div class="row uniform">

                    {% for field in form %}
                    <div class="12u$ 12u$(medium)">
                        <div class="panel-body">
                            <h3 class="panel-title pull-left"></h3>
                            <div class="col-sm-offset-4 col-sm-8">
                                <span class="text-danger small">{{ field.errors }}</span>
                            </div>
                            {% if field.label_tag == "lang"%}
                            <div class="2u$ 12u$(medium)">
                                <h6 class="1u$ 12u$(medium)">Language</h6>
                                {{story.lang}}
                            </div>
                            {% else %}

                            <h6 class="1u$ 12u$(medium)">{{field.label_tag}}</h6>

                            <div class="col-md-10">{{ field }}</div>
                            {% endif%}
                        </div>
                    </div>
                    {% endfor %}
                </div>

            <div class="12u$ 12u$">
            <ul class="actions">
                <li><input type="submit" value="Edit Story"/></li>
                <li><input type="reset" value="cancel"/></li>
            </ul>
        </div>
            </section>

        </article>

    </form>
</div>

{% endblock%}