{% extends 'base.html' %}

{% load static %}

{% block content %}


<div id="main" align="center">
    {% for story in stories %}
    <!-- Post -->


    <article class="post">
        <header>
            <div class="title">
                <h2><a href="{% url 'egamen:post_chapter' story.id 1 %}">{{story.title}}</a></h2>
                <p><a href="{% url 'egamen:userstories' story.author %}"><span class="name">{{story.author}}</span></a></p>
            </div>
            <div class="meta">
                {%if story.update_time %}
                <time class="published" datetime="2015-11-01">{{story.update_time}}</time>
                {%else%}
                <time class="published" datetime="2015-11-01">{{story.pub_date}}</time>
                {% endif %}
            </div>

        </header>
        <a href="#" class="image featured"><img src="media/{{story.story_cover}}" alt=""/></a>
        <p>{{story.summary}}</p>
        <footer>
            <ul class="stats">
                <li><a href="{% url 'egamen:comments' story.id 1%}" class="icon fa-comment fa-1x">{{story.comments_set.all.count}}</a>
                </li>

                <li>
                    <time class="published">Created :{{story.pub_date}}</time>
                </li>
                <li>
                    <p class="published">Lang :{{story.get_language_display}}</p>
                </li>
            </ul>
        </footer>
    </article>
    {% empty%}

    <h1>:(</h1>
    <h1>No results have been found</h1>
    {%endfor %}

</div>

{% endblock%}