{% extends 'base.html' %}

{%block content%}
<!-- Main -->
{% load static %}
<div id="main">

    <!-- Post -->
    <article class="post">
        <header>
            <div class="title">
                <h2><a href="#">{{story.title}}</a></h2>
            </div>
            <div class="meta">
                <time class="published" datetime="2015-11-01">November 1, 2015</time>
                <a href="#" class="author"><span class="name">Jane Doe</span><img src="yogo.jpg" alt=""/></a>
            </div>
        </header>
        <span class="image featured"><img src="{% static 'images/yogo.jpg'%}" alt=""/></span>
        That had happened a long time ago.

        Three years to be exact but the pain still felt fresh.

        Things had changed though.

        Now, she had a kingdom to rule, a crown upon her head and an army at her command. But he wasn't by her side. She
        doubt that he'd even agree to rule next to her.

        There weren't a lot of things that she regretted but if she were to be honest with herself, she regretted him.
        Not her involvement with him. No, not that. Never that.

        Yet, she did regret the way that she had treated him. The way she had played with his emotions. The way she had
        used him.

        Movements to her left lured her attention downward. The corners of her lips curved up into a small smile that
        appeared warm but quite obviously sad.

        "Good morning," She greeted, running her hand through the slightly long curls of the toddler.

        The latter simply yawned and snuggled closer. He wrapped his small little fingers around her wrist catching the
        hand that was on his head and pushed it away before he lifted his head up to place it on Morgana's lap. "Good
        morning, mama." His eyelashes fluttered shut again. He was going to fall once more and as much as she wished to
        let him rest, a long journey awaited them. Exhaustion would surely find him and he'd be napping shortly after
        the beginning of their trip.

        "Wake up my dear," she shook him gently. But that proved fruitless. "Come on." She urged.

        He crooked one eye open. She had wanted him to have his father's eyes but as he had grew older, the color
        changed and it had became clear that he had inherited hers. She had been disappointed at first. Then she had
        assumed it had been for the best. "No, let me sleep." The toddler told her groggily.

        Yes, it was a good thing that he had inherited something from her, he was already showing signs of having
        Merlin's quite charming personality.

        Morgana shook her head and stopped herself rolling her eyes. "Do you not remember where we are going today?"

        "Yes."

        The evident lack of excitement on her son's face was enough to send her over the edge. She had been trying her
        very best to keep her emotions at bay ever since waking up that morning. Her eyes stung with tears and she
        reached for her son, pulling him closer to her. He protested and grunted. His whining fell on deaf ears.

        She placed him on her lap and Morgana hooked a finger under his chin. He had no choice but to look at her.

        Her voice wavered as she spoke, "You will be seeing your father today, are you not happy?"

        Again, her son exhibited indifference to what should have been great news. Yet, she supposed such a reaction is
        to be expected. After all, her son had no understanding of the true meaning of having a father. He never knew
        his. He had never seen him.

        So the concept was foreign to him. But she knew, deep down she knew that his guilelessness would not last
        forever. As years went by, he'd wonder about his father, he'd ask about him and demand an explanation for his
        absence.

        The sole purpose of this trip was to help with that. In a way, she supposed that she needed it as well.

        It was a chance for her son to see Merlin...maybe not talk to him but at least he'd learn why he didn't have a
        father living with him and loving him. Moreover, it was chance for her to face for the first time in three years
        the consequences of her actions. Actions that had caused a child to lose his parent long before his birth. She'd
        carry the weight of that guilt with her until her dying day.

        His response was to shrug, "I guess."

        Morgana sighed again. She wrapped her arms around his small frame and drew him to her.

        She found herself swallowing a lump in her throat whilst a single tear slid down her cheek, she sat there unable
        to utter a single word.

        That had happened a long time ago.

        Three years to be exact but the pain still felt fresh.

        Things had changed though.

        Now, she had a kingdom to rule, a crown upon her head and an army at her command. But he wasn't by her side. She
        doubt that he'd even agree to rule next to her.

        There weren't a lot of things that she regretted but if she were to be honest with herself, she regretted him.
        Not her involvement with him. No, not that. Never that.

        Yet, she did regret the way that she had treated him. The way she had played with his emotions. The way she had
        used him.

        Movements to her left lured her attention downward. The corners of her lips curved up into a small smile that
        appeared warm but quite obviously sad.

        "Good morning," She greeted, running her hand through the slightly long curls of the toddler.

        The latter simply yawned and snuggled closer. He wrapped his small little fingers around her wrist catching the
        hand that was on his head and pushed it away before he lifted his head up to place it on Morgana's lap. "Good
        morning, mama." His eyelashes fluttered shut again. He was going to fall once more and as much as she wished to
        let him rest, a long journey awaited them. Exhaustion would surely find him and he'd be napping shortly after
        the beginning of their trip.

        "Wake up my dear," she shook him gently. But that proved fruitless. "Come on." She urged.

        He crooked one eye open. She had wanted him to have his father's eyes but as he had grew older, the color
        changed and it had became clear that he had inherited hers. She had been disappointed at first. Then she had
        assumed it had been for the best. "No, let me sleep." The toddler told her groggily.

        Yes, it was a good thing that he had inherited something from her, he was already showing signs of having
        Merlin's quite charming personality.

        Morgana shook her head and stopped herself rolling her eyes. "Do you not remember where we are going today?"

        "Yes."

        The evident lack of excitement on her son's face was enough to send her over the edge. She had been trying her
        very best to keep her emotions at bay ever since waking up that morning. Her eyes stung with tears and she
        reached for her son, pulling him closer to her. He protested and grunted. His whining fell on deaf ears.

        She placed him on her lap and Morgana hooked a finger under his chin. He had no choice but to look at her.

        Her voice wavered as she spoke, "You will be seeing your father today, are you not happy?"

        Again, her son exhibited indifference to what should have been great news. Yet, she supposed such a reaction is
        to be expected. After all, her son had no understanding of the true meaning of having a father. He never knew
        his. He had never seen him.

        So the concept was foreign to him. But she knew, deep down she knew that his guilelessness would not last
        forever. As years went by, he'd wonder about his father, he'd ask about him and demand an explanation for his
        absence.

        The sole purpose of this trip was to help with that. In a way, she supposed that she needed it as well.

        It was a chance for her son to see Merlin...maybe not talk to him but at least he'd learn why he didn't have a
        father living with him and loving him. Moreover, it was chance for her to face for the first time in three years
        the consequences of her actions. Actions that had caused a child to lose his parent long before his birth. She'd
        carry the weight of that guilt with her until her dying day.

        His response was to shrug, "I guess."

        Morgana sighed again. She wrapped her arms around his small frame and drew him to her.

        She found herself swallowing a lump in her throat whilst a single tear slid down her cheek, she sat there unable
        to utter a single word.

        That had happened a long time ago.

        Three years to be exact but the pain still felt fresh.

        Things had changed though.

        Now, she had a kingdom to rule, a crown upon her head and an army at her command. But he wasn't by her side. She
        doubt that he'd even agree to rule next to her.

        There weren't a lot of things that she regretted but if she were to be honest with herself, she regretted him.
        Not her involvement with him. No, not that. Never that.

        Yet, she did regret the way that she had treated him. The way she had played with his emotions. The way she had
        used him.

        Movements to her left lured her attention downward. The corners of her lips curved up into a small smile that
        appeared warm but quite obviously sad.

        "Good morning," She greeted, running her hand through the slightly long curls of the toddler.

        The latter simply yawned and snuggled closer. He wrapped his small little fingers around her wrist catching the
        hand that was on his head and pushed it away before he lifted his head up to place it on Morgana's lap. "Good
        morning, mama." His eyelashes fluttered shut again. He was going to fall once more and as much as she wished to
        let him rest, a long journey awaited them. Exhaustion would surely find him and he'd be napping shortly after
        the beginning of their trip.

        "Wake up my dear," she shook him gently. But that proved fruitless. "Come on." She urged.

        He crooked one eye open. She had wanted him to have his father's eyes but as he had grew older, the color
        changed and it had became clear that he had inherited hers. She had been disappointed at first. Then she had
        assumed it had been for the best. "No, let me sleep." The toddler told her groggily.

        Yes, it was a good thing that he had inherited something from her, he was already showing signs of having
        Merlin's quite charming personality.

        Morgana shook her head and stopped herself rolling her eyes. "Do you not remember where we are going today?"

        "Yes."

        The evident lack of excitement on her son's face was enough to send her over the edge. She had been trying her
        very best to keep her emotions at bay ever since waking up that morning. Her eyes stung with tears and she
        reached for her son, pulling him closer to her. He protested and grunted. His whining fell on deaf ears.

        She placed him on her lap and Morgana hooked a finger under his chin. He had no choice but to look at her.

        Her voice wavered as she spoke, "You will be seeing your father today, are you not happy?"

        Again, her son exhibited indifference to what should have been great news. Yet, she supposed such a reaction is
        to be expected. After all, her son had no understanding of the true meaning of having a father. He never knew
        his. He had never seen him.

        So the concept was foreign to him. But she knew, deep down she knew that his guilelessness would not last
        forever. As years went by, he'd wonder about his father, he'd ask about him and demand an explanation for his
        absence.

        The sole purpose of this trip was to help with that. In a way, she supposed that she needed it as well.

        It was a chance for her son to see Merlin...maybe not talk to him but at least he'd learn why he didn't have a
        father living with him and loving him. Moreover, it was chance for her to face for the first time in three years
        the consequences of her actions. Actions that had caused a child to lose his parent long before his birth. She'd
        carry the weight of that guilt with her until her dying day.

        His response was to shrug, "I guess."

        Morgana sighed again. She wrapped her arms around his small frame and drew him to her.

        She found herself swallowing a lump in her throat whilst a single tear slid down her cheek, she sat there unable
        to utter a single word.

        That had happened a long time ago.

        Three years to be exact but the pain still felt fresh.

        Things had changed though.

        Now, she had a kingdom to rule, a crown upon her head and an army at her command. But he wasn't by her side. She
        doubt that he'd even agree to rule next to her.

        There weren't a lot of things that she regretted but if she were to be honest with herself, she regretted him.
        Not her involvement with him. No, not that. Never that.

        Yet, she did regret the way that she had treated him. The way she had played with his emotions. The way she had
        used him.

        Movements to her left lured her attention downward. The corners of her lips curved up into a small smile that
        appeared warm but quite obviously sad.

        "Good morning," She greeted, running her hand through the slightly long curls of the toddler.

        The latter simply yawned and snuggled closer. He wrapped his small little fingers around her wrist catching the
        hand that was on his head and pushed it away before he lifted his head up to place it on Morgana's lap. "Good
        morning, mama." His eyelashes fluttered shut again. He was going to fall once more and as much as she wished to
        let him rest, a long journey awaited them. Exhaustion would surely find him and he'd be napping shortly after
        the beginning of their trip.

        "Wake up my dear," she shook him gently. But that proved fruitless. "Come on." She urged.

        He crooked one eye open. She had wanted him to have his father's eyes but as he had grew older, the color
        changed and it had became clear that he had inherited hers. She had been disappointed at first. Then she had
        assumed it had been for the best. "No, let me sleep." The toddler told her groggily.

        Yes, it was a good thing that he had inherited something from her, he was already showing signs of having
        Merlin's quite charming personality.

        Morgana shook her head and stopped herself rolling her eyes. "Do you not remember where we are going today?"

        "Yes."

        The evident lack of excitement on her son's face was enough to send her over the edge. She had been trying her
        very best to keep her emotions at bay ever since waking up that morning. Her eyes stung with tears and she
        reached for her son, pulling him closer to her. He protested and grunted. His whining fell on deaf ears.

        She placed him on her lap and Morgana hooked a finger under his chin. He had no choice but to look at her.

        Her voice wavered as she spoke, "You will be seeing your father today, are you not happy?"

        Again, her son exhibited indifference to what should have been great news. Yet, she supposed such a reaction is
        to be expected. After all, her son had no understanding of the true meaning of having a father. He never knew
        his. He had never seen him.

        So the concept was foreign to him. But she knew, deep down she knew that his guilelessness would not last
        forever. As years went by, he'd wonder about his father, he'd ask about him and demand an explanation for his
        absence.

        The sole purpose of this trip was to help with that. In a way, she supposed that she needed it as well.

        It was a chance for her son to see Merlin...maybe not talk to him but at least he'd learn why he didn't have a
        father living with him and loving him. Moreover, it was chance for her to face for the first time in three years
        the consequences of her actions. Actions that had caused a child to lose his parent long before his birth. She'd
        carry the weight of that guilt with her until her dying day.

        His response was to shrug, "I guess."

        Morgana sighed again. She wrapped her arms around his small frame and drew him to her.

        She found herself swallowing a lump in her throat whilst a single tear slid down her cheek, she sat there unable
        to utter a single word.
        That had happened a long time ago.

        Three years to be exact but the pain still felt fresh.

        Things had changed though.

        Now, she had a kingdom to rule, a crown upon her head and an army at her command. But he wasn't by her side. She
        doubt that he'd even agree to rule next to her.

        There weren't a lot of things that she regretted but if she were to be honest with herself, she regretted him.
        Not her involvement with him. No, not that. Never that.

        Yet, she did regret the way that she had treated him. The way she had played with his emotions. The way she had
        used him.

        Movements to her left lured her attention downward. The corners of her lips curved up into a small smile that
        appeared warm but quite obviously sad.

        "Good morning," She greeted, running her hand through the slightly long curls of the toddler.

        The latter simply yawned and snuggled closer. He wrapped his small little fingers around her wrist catching the
        hand that was on his head and pushed it away before he lifted his head up to place it on Morgana's lap. "Good
        morning, mama." His eyelashes fluttered shut again. He was going to fall once more and as much as she wished to
        let him rest, a long journey awaited them. Exhaustion would surely find him and he'd be napping shortly after
        the beginning of their trip.

        "Wake up my dear," she shook him gently. But that proved fruitless. "Come on." She urged.

        He crooked one eye open. She had wanted him to have his father's eyes but as he had grew older, the color
        changed and it had became clear that he had inherited hers. She had been disappointed at first. Then she had
        assumed it had been for the best. "No, let me sleep." The toddler told her groggily.

        Yes, it was a good thing that he had inherited something from her, he was already showing signs of having
        Merlin's quite charming personality.

        Morgana shook her head and stopped herself rolling her eyes. "Do you not remember where we are going today?"

        "Yes."

        The evident lack of excitement on her son's face was enough to send her over the edge. She had been trying her
        very best to keep her emotions at bay ever since waking up that morning. Her eyes stung with tears and she
        reached for her son, pulling him closer to her. He protested and grunted. His whining fell on deaf ears.

        She placed him on her lap and Morgana hooked a finger under his chin. He had no choice but to look at her.

        Her voice wavered as she spoke, "You will be seeing your father today, are you not happy?"

        Again, her son exhibited indifference to what should have been great news. Yet, she supposed such a reaction is
        to be expected. After all, her son had no understanding of the true meaning of having a father. He never knew
        his. He had never seen him.

        So the concept was foreign to him. But she knew, deep down she knew that his guilelessness would not last
        forever. As years went by, he'd wonder about his father, he'd ask about him and demand an explanation for his
        absence.

        The sole purpose of this trip was to help with that. In a way, she supposed that she needed it as well.

        It was a chance for her son to see Merlin...maybe not talk to him but at least he'd learn why he didn't have a
        father living with him and loving him. Moreover, it was chance for her to face for the first time in three years
        the consequences of her actions. Actions that had caused a child to lose his parent long before his birth. She'd
        carry the weight of that guilt with her until her dying day.

        His response was to shrug, "I guess."

        Morgana sighed again. She wrapped her arms around his small frame and drew him to her.

        She found herself swallowing a lump in her throat whilst a single tear slid down her cheek, she sat there unable
        to utter a single word.

        That had happened a long time ago.

        Three years to be exact but the pain still felt fresh.

        Things had changed though.

        Now, she had a kingdom to rule, a crown upon her head and an army at her command. But he wasn't by her side. She
        doubt that he'd even agree to rule next to her.

        There weren't a lot of things that she regretted but if she were to be honest with herself, she regretted him.
        Not her involvement with him. No, not that. Never that.

        Yet, she did regret the way that she had treated him. The way she had played with his emotions. The way she had
        used him.

        Movements to her left lured her attention downward. The corners of her lips curved up into a small smile that
        appeared warm but quite obviously sad.

        "Good morning," She greeted, running her hand through the slightly long curls of the toddler.

        The latter simply yawned and snuggled closer. He wrapped his small little fingers around her wrist catching the
        hand that was on his head and pushed it away before he lifted his head up to place it on Morgana's lap. "Good
        morning, mama." His eyelashes fluttered shut again. He was going to fall once more and as much as she wished to
        let him rest, a long journey awaited them. Exhaustion would surely find him and he'd be napping shortly after
        the beginning of their trip.

        "Wake up my dear," she shook him gently. But that proved fruitless. "Come on." She urged.

        He crooked one eye open. She had wanted him to have his father's eyes but as he had grew older, the color
        changed and it had became clear that he had inherited hers. She had been disappointed at first. Then she had
        assumed it had been for the best. "No, let me sleep." The toddler told her groggily.

        Yes, it was a good thing that he had inherited something from her, he was already showing signs of having
        Merlin's quite charming personality.

        Morgana shook her head and stopped herself rolling her eyes. "Do you not remember where we are going today?"

        "Yes."

        The evident lack of excitement on her son's face was enough to send her over the edge. She had been trying her
        very best to keep her emotions at bay ever since waking up that morning. Her eyes stung with tears and she
        reached for her son, pulling him closer to her. He protested and grunted. His whining fell on deaf ears.

        She placed him on her lap and Morgana hooked a finger under his chin. He had no choice but to look at her.

        Her voice wavered as she spoke, "You will be seeing your father today, are you not happy?"

        Again, her son exhibited indifference to what should have been great news. Yet, she supposed such a reaction is
        to be expected. After all, her son had no understanding of the true meaning of having a father. He never knew
        his. He had never seen him.

        So the concept was foreign to him. But she knew, deep down she knew that his guilelessness would not last
        forever. As years went by, he'd wonder about his father, he'd ask about him and demand an explanation for his
        absence.

        The sole purpose of this trip was to help with that. In a way, she supposed that she needed it as well.

        It was a chance for her son to see Merlin...maybe not talk to him but at least he'd learn why he didn't have a
        father living with him and loving him. Moreover, it was chance for her to face for the first time in three years
        the consequences of her actions. Actions that had caused a child to lose his parent long before his birth. She'd
        carry the weight of that guilt with her until her dying day.

        His response was to shrug, "I guess."

        Morgana sighed again. She wrapped her arms around his small frame and drew him to her.

        She found herself swallowing a lump in her throat whilst a single tear slid down her cheek, she sat there unable
        to utter a single word.

        That had happened a long time ago.

        Three years to be exact but the pain still felt fresh.

        Things had changed though.

        Now, she had a kingdom to rule, a crown upon her head and an army at her command. But he wasn't by her side. She
        doubt that he'd even agree to rule next to her.

        There weren't a lot of things that she regretted but if she were to be honest with herself, she regretted him.
        Not her involvement with him. No, not that. Never that.

        Yet, she did regret the way that she had treated him. The way she had played with his emotions. The way she had
        used him.

        Movements to her left lured her attention downward. The corners of her lips curved up into a small smile that
        appeared warm but quite obviously sad.

        "Good morning," She greeted, running her hand through the slightly long curls of the toddler.

        The latter simply yawned and snuggled closer. He wrapped his small little fingers around her wrist catching the
        hand that was on his head and pushed it away before he lifted his head up to place it on Morgana's lap. "Good
        morning, mama." His eyelashes fluttered shut again. He was going to fall once more and as much as she wished to
        let him rest, a long journey awaited them. Exhaustion would surely find him and he'd be napping shortly after
        the beginning of their trip.

        "Wake up my dear," she shook him gently. But that proved fruitless. "Come on." She urged.

        He crooked one eye open. She had wanted him to have his father's eyes but as he had grew older, the color
        changed and it had became clear that he had inherited hers. She had been disappointed at first. Then she had
        assumed it had been for the best. "No, let me sleep." The toddler told her groggily.

        Yes, it was a good thing that he had inherited something from her, he was already showing signs of having
        Merlin's quite charming personality.

        Morgana shook her head and stopped herself rolling her eyes. "Do you not remember where we are going today?"

        "Yes."

        The evident lack of excitement on her son's face was enough to send her over the edge. She had been trying her
        very best to keep her emotions at bay ever since waking up that morning. Her eyes stung with tears and she
        reached for her son, pulling him closer to her. He protested and grunted. His whining fell on deaf ears.

        She placed him on her lap and Morgana hooked a finger under his chin. He had no choice but to look at her.

        Her voice wavered as she spoke, "You will be seeing your father today, are you not happy?"

        Again, her son exhibited indifference to what should have been great news. Yet, she supposed such a reaction is
        to be expected. After all, her son had no understanding of the true meaning of having a father. He never knew
        his. He had never seen him.

        So the concept was foreign to him. But she knew, deep down she knew that his guilelessness would not last
        forever. As years went by, he'd wonder about his father, he'd ask about him and demand an explanation for his
        absence.

        The sole purpose of this trip was to help with that. In a way, she supposed that she needed it as well.

        It was a chance for her son to see Merlin...maybe not talk to him but at least he'd learn why he didn't have a
        father living with him and loving him. Moreover, it was chance for her to face for the first time in three years
        the consequences of her actions. Actions that had caused a child to lose his parent long before his birth. She'd
        carry the weight of that guilt with her until her dying day.

        His response was to shrug, "I guess."

        Morgana sighed again. She wrapped her arms around his small frame and drew him to her.

        She found herself swallowing a lump in her throat whilst a single tear slid down her cheek, she sat there unable
        to utter a single word.

        That had happened a long time ago.

        Three years to be exact but the pain still felt fresh.

        Things had changed though.

        Now, she had a kingdom to rule, a crown upon her head and an army at her command. But he wasn't by her side. She
        doubt that he'd even agree to rule next to her.

        There weren't a lot of things that she regretted but if she were to be honest with herself, she regretted him.
        Not her involvement with him. No, not that. Never that.

        Yet, she did regret the way that she had treated him. The way she had played with his emotions. The way she had
        used him.

        Movements to her left lured her attention downward. The corners of her lips curved up into a small smile that
        appeared warm but quite obviously sad.

        "Good morning," She greeted, running her hand through the slightly long curls of the toddler.

        The latter simply yawned and snuggled closer. He wrapped his small little fingers around her wrist catching the
        hand that was on his head and pushed it away before he lifted his head up to place it on Morgana's lap. "Good
        morning, mama." His eyelashes fluttered shut again. He was going to fall once more and as much as she wished to
        let him rest, a long journey awaited them. Exhaustion would surely find him and he'd be napping shortly after
        the beginning of their trip.

        "Wake up my dear," she shook him gently. But that proved fruitless. "Come on." She urged.

        He crooked one eye open. She had wanted him to have his father's eyes but as he had grew older, the color
        changed and it had became clear that he had inherited hers. She had been disappointed at first. Then she had
        assumed it had been for the best. "No, let me sleep." The toddler told her groggily.

        Yes, it was a good thing that he had inherited something from her, he was already showing signs of having
        Merlin's quite charming personality.

        Morgana shook her head and stopped herself rolling her eyes. "Do you not remember where we are going today?"

        "Yes."

        The evident lack of excitement on her son's face was enough to send her over the edge. She had been trying her
        very best to keep her emotions at bay ever since waking up that morning. Her eyes stung with tears and she
        reached for her son, pulling him closer to her. He protested and grunted. His whining fell on deaf ears.

        She placed him on her lap and Morgana hooked a finger under his chin. He had no choice but to look at her.

        Her voice wavered as she spoke, "You will be seeing your father today, are you not happy?"

        Again, her son exhibited indifference to what should have been great news. Yet, she supposed such a reaction is
        to be expected. After all, her son had no understanding of the true meaning of having a father. He never knew
        his. He had never seen him.

        So the concept was foreign to him. But she knew, deep down she knew that his guilelessness would not last
        forever. As years went by, he'd wonder about his father, he'd ask about him and demand an explanation for his
        absence.

        The sole purpose of this trip was to help with that. In a way, she supposed that she needed it as well.

        It was a chance for her son to see Merlin...maybe not talk to him but at least he'd learn why he didn't have a
        father living with him and loving him. Moreover, it was chance for her to face for the first time in three years
        the consequences of her actions. Actions that had caused a child to lose his parent long before his birth. She'd
        carry the weight of that guilt with her until her dying day.

        His response was to shrug, "I guess."

        Morgana sighed again. She wrapped her arms around his small frame and drew him to her.

        She found herself swallowing a lump in her throat whilst a single tear slid down her cheek, she sat there unable
        to utter a single word.
        <footer>
            <ul class="stats">
                <li><a href="#">General</a></li>
                <li><a href="#" class="icon fa-heart">28</a></li>
                <li><a href="#" class="icon fa-comment">128</a></li>
            </ul>
        </footer>
    </article>

</div>



{% endblock %}