{% extends 'base.html' %}

{%block content%}
<!-- Main -->
{% load static %}

<div id="main"  align="right">

<div id="main">
    <!-- Post -->


    <article class="post">



        <header>
            <div class="title">

                <h2  align="center">{{story.title}}</h2>



            </div>
            	<div class="meta">
										{%if story.update_time  %}
										<time class="published" datetime="2015-11-01">{{story.update_time}}</time>
										{%else%}
										<time class="published" datetime="2015-11-01">{{story.pub_date}}</time>
										{% endif %}
										<a href="#" class="author"><span class="name">{{story.author}}</span><img src="images/avatar.jpg" alt="" /></a>
									</div>
        </header>

         {% for chapter in chapters %}
                 {% autoescape off%}
                                <h6  align="center">{{chapter.title}}</h6>
        {% if story.language == 'AR' %}
        <div align="right">
            {%else%}
            <div align="left">
                {%endif%}
                               {{chapter.chapter}}
                                {% endautoescape %}
            </div>
        <div align="center">
<form method="post">
        <ul class="actions pagination">


										{% csrf_token %}
										{{form.non_field_error}}


                                            {% if not request.user.is_authenticated%}
											<li class="6u$">
												<input id="writer" type="text" name="writer" placeholder="Name:">
											</li>
                                            {% endif%}

											<li class="6u$">
												<textarea id="comment" name = "comment" placeholder="type your review here" rows="3"></textarea>
												{% if error_message %}
                                            <p id="error" style="color:#D46A6A"><small>{{error_message}}</small></p>
                                                {% endif %}
											</li>
											<li class="6u$">
												<ul class="actions">
													<li><input type="submit" value="post a review" id="submit"></li>
												</ul>
											</li>


        </ul>
    </form>
            </div>
                    {% endfor %}

        <!-- The comment form-->





        <footer>
            <ul class="stats">
                <li><a href="{% url 'egamen:comments' story.id 1%}" class="icon fa-comment fa-2x ">{{count}}</a></li>
            </ul>
        </footer>
         {% if chapters.has_other_pages %}
        <ul class="actions pagination">
            {% if chapters.has_previous %}
            <li><a href="{% url 'egamen:post_chapter' story.id  chapters.previous_page_number %}" class=" button big previous">Previous Page</a></li>
            {% else %}
            <li><a href="#" class="disabled button big previous">Previous Page</a></li>

            {%endif%}
            {% if chapters.has_next %}
            <li><a href="{% url 'egamen:post_chapter' story.id chapters.next_page_number %}" class="button big next">Next Page</a></li>
            {%else%}
            <li><a href="#" class="disabled button big next">Next Page</a></li>

            {%endif%}

        </ul>
         {%endif%}

    </article>

</div>



{% endblock %}