{% extends 'base.html' %}
{% block content %}
{% load static %}
<!-- Menu -->
<section id="menu">

    <!-- Search -->
    <section>
        <form class="search" method="get" action="#">
            <input type="text" name="query" placeholder="Search"/>
        </form>
    </section>

    <!-- Links -->

    <section>
        <ul class="links">
            <li>
                <a href="#">
                    <h3>Watch Episodes</h3>
                    <p>Porta lectus amet ultricies</p>
                </a>
            </li>
        </ul>
    </section>

    <!-- Actions -->
    <section>
        <ul class="actions vertical">
            {% if user.username %}
            <!-- NEED TO ADD THE USER PROFILE LINK-->
            <li><a href="#" class="button big fit">{{user.username}}</a></li>
            <li><a href="{%url 'egamen:logout' %}" class="button big fit">LOGOUT</a></li>
            {%else %}
            <li><a href="{%url 'egamen:login' %}" class="button big fit">Login</a></li>
            <li><a href="{%url 'egamen:register' %}" class="button big fit">Register</a></li>
            {%endif%}
        </ul>
    </section>

</section>
<!--
<div class="container">
    <div class="row">
    -->
<div id="main">

    {% if stories %}
    {% for story in stories %}
    <article class="post">
        <header>
            <div class="title">
                <h2><a href="{% url 'egamen:edit_story' story.id%}">{{story.title}} </a></h2>

            </div>

        </header>


        <p>{{story.summary}}</p>
        <footer>
            <ul class="stats">
                <li><a href="#" class="icon fa-comment">128</a></li>
                <li>
                    <time class="published" datetime="2015-11-01">{{story.pub_date}}</time>
                </li>
            </ul>
        </footer>
    </article>
    {%endfor%}
    {%endif%}

</div>
<!-- </div>
</div>
-->
{% endblock %}